PORT=3000
LOG_LEVEL=DEBUG

SERVICE_ACCOUNT=
FIREBASE_SERVICE_ACCOUNT=

TOPIC_MSGOPS_EVENT_PROCESS=leads.email.webhooks
TOPIC_MSGOPS_CAMPAIGN_EVENTS_TRACKER=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
