PORT=3000
LOG_LEVEL=DEBUG

FIREBASE_SERVICE_ACCOUNT=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

AMQP_URL=amqp://guest:guest@localhost:5672
INTERNAL_AUTH_TOKEN=dev-send-push-token-change-me-please-x
BRIDGE_ENDPOINT=http://localhost:3000
