SERVICE_ACCOUNT={...}
FIREBASE_SERVICE_ACCOUNT={...}
TOPIC_MSGOPS_EVENT_PROCESS=leads.email.webhooks
TOPIC_EVENT_SERVICE=projects/brius-prod/topics/event_service-internal-services

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
