TYPEORM_HOST=x
TYPEORM_PORT=x
TYPEORM_USERNAME=x
TYPEORM_PASSWORD=x
TYPEORM_DATABASE=x
TYPEORM_CONNECTION=postgres
TYPEORM_DRIVER_EXTRA={"charset":"utf8mb4_unicode_ci"}
TYPEORM_ENTITIES_DIR=dist/**/entities
TYPEORM_ENTITIES=dist/**/*.entity.js

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

TRACKER_BASE_URL=URL

CALLBACK_TWILIO=https://webhook.site/6d0ccf87-d608-49ad-8ea3-9166aaff84fe
SERVICE_ACCOUNT={}