// distances
$spacing-zero: 0px;
$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 64px;

//colors
$neutral-basic-white: #ffffff;
$neutral-basic-Black: #000;

$neutral-gray-100: #fcfbfa;
$neutral-gray-200: #f7f6f5;
$neutral-gray-300: #ebe9e8;
$neutral-gray-400: #cacacc;
$neutral-gray-500: #a6a6ab;
$neutral-gray-600: #7f7f85;
$neutral-gray-700: #54545c;
$neutral-gray-800: #35353b;

$neutral-error-red: #d21c1c;
$neutral-warning-orange: #f9971e;

$ds-blue: #0057f4;
$ds-blue-dark: #00228d;
$ds-green: #0fb75c;
$ds-green-dark: #076e62;
$ds-light-green: #f2fff8;
$ds-light-blue: #00cefc;
$ds-blue-100: #f4f8ff;
$ds-purple: #7b61ff;
$ds-light-purple: #f2efff;
$ds-red: #f03232;
$ds-orange: #ff9654;
$ds-gray: #5c5c5c;
$ds-gray-100: #f5f5f5;
$ds-gray-200: #eaeaea;
$ds-gray-300: #d9d9d9;
$ds-gray-400: #a6a6a6;

$shadow-base:
  0px 1px 3px 0px rgba(0, 0, 0, 0.1),
  0px 1px 2px 0px rgba(0, 0, 0, 0.06);

$progress-circular-underlay-stroke: rgba($ds-red, 0.4) !default;
