TYPEORM_HOST=xxxx
TYPEORM_PORT=xxxxx
TYPEORM_USERNAME=xxxxx
TYPEORM_PASSWORD=xxxxx
TYPEORM_DATABASE=msgops
TYPEORM_CONNECTION=postgres
TYPEORM_DRIVER_EXTRA={"charset":"utf8mb4_unicode_ci"}
TYPEORM_ENTITIES_DIR=dist/**/entities
TYPEORM_ENTITIES=dist/**/*.entity.js

REDIS_HOST=localhost
REDIS_PASSWORD=null
REDIS_PORT=6379

EMAILABLE_API_KEY=xxxxx
EMAILABLE_URL=xxxxxxxx
