DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_DATABASE=msgops_api
DATABASE_MAX_CONECTIONS=40

DATABASE_LOGS_HOST=127.0.0.1
DATABASE_LOGS_PORT=5432
DATABASE_LOGS_USERNAME=
DATABASE_LOGS_PASSWORD=
DATABASE_LOGS_DATABASE=msgops_api

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

SERVICE_ACCOUNT=

TOPIC_NAME_TAG_PROCESS=
TOPIC_NAME_EVENT_PROCESS=

LOG_LEVEL=DEBUG

GEOIP_SERVICE_URL=

SLACK_WEBHOOK_URL=

KAFKA_BROKERS=localhost:9093
KAFKA_USERNAME=
KAFKA_PASSWORD=
KAFKA_EVENTS_TOPIC=msgops-events
