DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_USERNAME=xxx
DATABASE_PASSWORD=xxx
DATABASE_DATABASE=msgops_api
DATABASE_LOGGING=true

DATABASE_LOGS_HOST=127.0.0.1
DATABASE_LOGS_PORT=5432
DATABASE_LOGS_USERNAME=xxx
DATABASE_LOGS_PASSWORD=xxx
DATABASE_LOGS_DATABASE=msgops_api
DATABASE_LOGS_LOGGING=true

REDIS_HOST=localhost
REDIS_PASSWORD=null
REDIS_PORT=6379

SERVICE_ACCOUNT=
TOPIC_NAME_TAG_PROCESS=
TOPIC_NAME_EVENT_PROCESS=

LOG_LEVEL=DEBUG

GEOIP_SERVICE_URL=

KAFKA_BROKERS=localhost:9093
KAFKA_USERNAME=
KAFKA_PASSWORD=
KAFKA_EVENTS_TOPIC=msgops-events
