TYPEORM_HOST=127.0.0.1
TYPEORM_PORT=5432
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=
TYPEORM_DATABASE=msgops
TYPEORM_DRIVER_EXTRA={"charset":"utf8mb4_unicode_ci"}

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

SERVICE_ACCOUNT=

TOPIC_NAME_LEAD_CONCEPTION=

SLACK_WEBHOOK_URL=

LOG_LEVEL=DEBUG
