SERVER_PORT=5001

API_DOCS=/api-docs

TYPEORM_HOST=127.0.0.1
TYPEORM_PORT=5432
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=
TYPEORM_DATABASE=msgops_prd
TYPEORM_CONNECTION=postgres
TYPEORM_MIGRATIONS_RUN=true
TYPEORM_DROP_SCHEMA=false
TYPEORM_DRIVER_EXTRA={"charset":"utf8mb4_unicode_ci"}
TYPEORM_ENTITIES_DIR=dist/**/entities
TYPEORM_ENTITIES=dist/**/*.entity.js
TYPEORM_MIGRATIONS_DIR=dist/**/migrations
TYPEORM_MIGRATIONS=dist/**/migrations/*.js
TYPEORM_MIGRATIONS_TABLE_NAME=migration
TYPEORM_LOGGING=true

GLOCK_API_KEY=

BUCKET_NAME=msgops-assets-prd.etus.digital
SERVICE_ACCOUNT=

API_KEY=1ab2c3d4e5f61ab2c3d4e5f6
DATA_API_KEY=rdMzWB8popIEiZNA4Cw2Ta3gow20m8kB

SENDGRID_API_KEY=
SENDGRID_WEBHOOK_URL=https://in.bri.us/bms/events/?platform=sendgrid

TOPIC_NAME_MESSAGE_TRIGGER=msgops.message.trigger
TOPIC_NAME_SEND_EMAIL=msgops.send.email
TOPIC_NAME_STORAGE=msg-ops-lead-state-storage 
TOPIC_NAME_SEND_SINGLE_SMS=

GOOGLE_TASKS_PROJECT_ID=etus-media-development-staging
GOOGLE_TASKS_LOCATION=us-east1
GOOGLE_CLIENT_EMAIL=msgopsapistgsa@etus-media-development-staging.iam.gserviceaccount.com

CAMPAIGN_TRIGGER_ENDPOINT=https://msgops-campaign-trigger-p6tcfyf7qa-ue.a.run.app/

DATASTORE_NAMESPACE=msgops
DATASTORE_KIND_LEAD=leads-state

GOOGLE_TASK_QUEUE=message-trigger-timer-teste

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

LIMIT_SPARKPOST=200
SPARKPOST_API_KEY=

AUTH0_DOMAIN=brius-com-br.us.auth0.com
AUTH0_CLIENT_ID=5FYajHr93MSvOrYJxeHdHe3AaDDvSeal
AUTH0_CLIENT_SECRET=pwI0UKA2QA5TaIdOQuvqdpntTb4e9-y6e4I5tR36ol646WPL3A_tXfKrY9ZvMXR-
JWKS_URI=https://brius-com-br.us.auth0.com/.well-known/jwks.json
IDP_ISSUER=https://brius-com-br.us.auth0.com/
IDP_AUDIENCE=https://msgops-api.etus.digital

GOOGLE_TASK_SEGMENT=segment-process
TAG_PROCESS_ENDPOINT=https://msgops-tag-process-p6tcfyf7qa-ue.a.run.app/process-segment

CAMPAIGN_TEST_AB_ENDPOINT=https://msgops-campaign-packer-p6tcfyf7qa-ue.a.run.app/create-test
CAMPAIGN_RESULT_TEST_AB_ENDPOINT=https://msgops-campaign-packer-p6tcfyf7qa-ue.a.run.app/result-test
GOOGLE_TASK_QUEUE_TEST_AB=msgops-campaign-testab

# GOOGLE_BIGQUERY_EMAIL_TABLE=etus-media-development-staging.msgops.msgops_statistics
GOOGLE_BIGQUERY_EMAIL_TABLE=brius-prod.silver_retention.vbms_email_database
# GOOGLE_BIGQUERY_PUSH_TABLE=etus-media-development-staging.msgops.bms_push_database
GOOGLE_BIGQUERY_PUSH_TABLE=brius-prod.silver_retention.vbms_push_database
GOOGLE_BIGQUERY_MOBILE_PUSH_TABLE=brius-prod.silver_retention.vbms_mobile_push_database

PONTALTECH_API_KEY=
PONTALTECH_API_SINGLE_URL=https://sms-api-pointer.pontaltech.com.br/v1/single-sms
PONTALTECH_CALLBACK=https://in.bri.us/e/sms/pontaltech-sms

BMS_ASSETS_URL=assets.bri.us

CLOUDFLARE_ZONE_ID=
CLOUDFLARE_API_KEY=
CLEAN_PUSH_DAYS=
REMOVE_PUSH_DAYS

EVOLUTION_API_URL=
EVOLUTION_API_KEY=
TEMPLATE_WEBHOOK_URL=http://localhost:5001/messages/template/webhook

# evolution or twilio
WHATSAPP_PROVIDER=evolution

GOOGLE_MANAGER_KEY=
GOOGLE_MANAGER_URL=

EMAIL_VALIDATION_URL=https://in.bri.us/bms/

ACCOUNTS_TO_VERIFY_CAMPAIGNS=1
SLACK_WEBHOOK_URL_RETENTION=
SLACK_WEBHOOK_URL_MSGOPS=

CLOUDFLARE_PUSH_WORKERS_SECRET=
CLOUDFLARE_PUSH_WORKERS_URL=https://assets-stg.bri.us/bms/url-filters/rules

CRON_SECRET=
