VITE_API_MSGOPS=https://msgops-api-stg.etus.digital
VITE_AUTH0_DOMAIN=brius-com-br.us.auth0.com
VITE_AUTH0_CLIENT_ID=24k28y8Vrm0RB7MOLzL2307b2QBIuS7a
VITE_AUTH0_AUDIENCE=https://msgops-api.etus.digital
VITE_AUTH0_CALLBACK_URL=http://127.0.0.1:5173/callback
VITE_APP_REDIRECT_MSGOPS=https://localhost:44357/
