PORT=3009

TOPIC_NAME_TAG_PROCESS=msgops.tag.process
TOPIC_NAME_EVENT_PROCESS=msgops.event.process
TOPIC_NAME_EMC_CAMPAIGN_TRIGGER=mock-topic-emc-trigger

TYPEORM_HOST=127.0.0.1
TYPEORM_PORT=5432
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=
TYPEORM_DATABASE=msgops_prd
TYPEORM_CONNECTION=postgres

TYPEORM_DRIVER_EXTRA={"charset":"utf8mb4_unicode_ci"}
TYPEORM_ENTITIES_DIR=dist/**/entities
TYPEORM_ENTITIES=dist/**/*.entity.js
TYPEORM_MIGRATIONS_DIR=dist/**/migrations
TYPEORM_MIGRATIONS=dist/**/migrations/*.js
TYPEORM_MIGRATIONS_TABLE_NAME=migration
TYPEORM_MIGRATIONS_RUN=true
TYPEORM_DROP_SCHEMA=false
TYPEORM_LOGGING=true

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

LOG_LEVEL=DEBUG

EMAIL_VERIFY_URL=

GEOIP_SERVICE_URL=localhost:50051
