@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f5f5f5;
}

/* customize data-table and pagination */
.v-table__wrapper {
  border: 1px solid #d9d9d9;
}

.v-data-table-header__content {
  font-weight: 600;
}

.v-pagination__item--is-active {
  background-color: #0057f4;
}

.v-pagination__item--is-active button {
  color: white;
}

.v-pagination__list li {
  border-radius: 4px;
}

.v-pagination__list li .v-btn--density-default {
  height: 24px;
  width: 24px;
}

.v-field {
  border: 1px solid #d9d9d9;
  border-radius: 0.5rem;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.v-btn--disabled {
  color: #a6a6a6;
  opacity: 100%;
}

.loader {
  background-color: #0057f4;
  bottom: 0;
  color: white;
  display: block;
  font-size: 24px;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
}

.brius-animated-logo {
  width: 10%;
  animation: brius-logo-rotate 6s infinite;
}

.user-welcome {
  padding-top: calc(50vh - 50px);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fadeout {
  animation: fadeout 4s forwards;
}

@keyframes fadeout {
  to {
    opacity: 0.1;
    visibility: hidden;
  }
}
@keyframes brius-logo-rotate {
  0% {
    cx: 115;
    transform: none;
  }
  50% {
    cx: 115;
    transform: rotate(360deg);
  }
  75% {
    cx: 0;
    transform: rotate(360deg);
  }
  100% {
    cx: 115;
    transform: rotate(360deg);
  }
}

.collapsed-sidebar {
  @apply tw-w-[72px];
}

.sidebar-item-active {
  @apply tw-font-semibold tw-text-primary;
}

.expanded {
  @apply tw-rotate-180;
}
