VUE_APP_API_URL = 'http://localhost:5001/'
VUE_APP_AUTH0_DOMAIN = 'brius-com-br.us.auth0.com'
VUE_APP_AUTH0_CLIENT_ID = '24k28y8Vrm0RB7MOLzL2307b2QBIuS7a'
VUE_APP_AUTH0_AUDIENCE = 'https://msgops-api.etus.digital'
VUE_APP_REDIRECT_MANAGER = 'https://localhost:44358/'
VUE_APP_ENVIRONMENT='development'

VUE_APP_FB_APP_ID = ''
VUE_APP_FB_CONFIG_ID = ''
VUE_APP_FB_USER_TOKEN = ''

# evolution or twilio
VUE_APP_WHATSAPP_PROVIDER = 'evolution'