PORT=3006
LOG_LEVEL=NULL

TOPIC_NAME_MESSAGE_TRIGGER=msgops.message.trigger
TOPIC_NAME_SEND_EMAIL=msgops.send.email
TOPIC_NAME_TAG_PROCESS=msgops.tag-process
TOPIC_NAME_SEND_PUSH=msgops.send.push
TOPIC_NAME_SEND_TWILIO=msgops.send.twilio
TOPIC_NAME_API_STEP_PROCESS=msgops-api-step-process
TOPIC_NAME_HTTP_REQUEST=msgops-http-request
TOPIC_TRIGGER_PROCESS=
ATTR_NAME_MESSAGE_TRIGGER=
ATTR_NAME_SEND_EMAIL=
ATTR_NAME_SEND_PUSH=
ATTR_NAME_SEND_TWILIO=
ATTR_NAME_API_STEP_PROCESS=
ATTR_NAME_HTTP_REQUEST=

GOOGLE_TASK_PROJECT=etus-media-development-staging
GOOGLE_TASK_QUEUE_TIMER=message-trigger-timer 
GOOGLE_TASK_QUEUE_CONDITION=message-trigger-condition
GOOGLE_TASK_LOCATION=us-east1
GOOGLE_CLIENT_EMAIL=msgops-automation@etus-media-development-staging.iam.gserviceaccount.com

SERVICE_ACCOUNT=

GOOGLE_TASK_CALLBACK_URL=https://msgops-message-trigger-p6tcfyf7qa-ue.a.run.app

TYPEORM_HOST=127.0.0.1
TYPEORM_PORT=5432
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=
TYPEORM_DATABASE=msgops_prd

TYPEORM_CONNECTION=postgres
TYPEORM_DRIVER_EXTRA={"charset":"utf8mb4_unicode_ci"}
TYPEORM_ENTITIES_DIR=dist/**/entities
TYPEORM_ENTITIES=dist/**/*.entity.js
TYPEORM_LOGGING=false

REDIS_HOST=localhost
REDIS_PORT=6379

STORE_NAMESPACE=msgops
STORE_CONTACT_KIND=contacts
STORE_CONTACT_AUTOMATIONS_KIND=contact_automations

LOG_LEVEL=DEBUG
EMAIL_VERIFY_URL=http://localhost:3000

TOPIC_NAME_EVENT_PROCESS=

CONTACT_TRANSFER_URL=https://in.bri.us/bms/leads

# ClickHouse Configuration
CLICKHOUSE_HOST=
CLICKHOUSE_USERNAME=
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DATABASE=BMS
