PORT=3010
SLACK_TOKEN= STRING


TYPEORM_HOST=127.0.0.1
TYPEORM_PORT=5432
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=
TYPEORM_DATABASE=msgops_prd

TYPEORM_DRIVER_EXTRA={"charset":"utf8mb4_unicode_ci"}
TYPEORM_LOGGING=true
